* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background: #820300;
    color: #deb887;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #af7d11;
    text-shadow: black 1px 0 10px;
}

.logo {
    width: 5rem;
}

h1 , h2{
    text-align: center;
}

h2 , h3{
    padding: 1rem 0;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    list-style: inside;
    gap: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    border-top: 1px solid #af7d11;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    margin: 10px;
}

@media (min-width: 375px) {
    .menu {
        align-items: center;
    }
}

@media (min-width: 768px) {
    .menu {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    main {
        height: 75vh;
    }
}